* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
	border: 2px solid purple;
	border-radius: 5px;
	padding: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	margin: 20px 0;
}

.btn {
	padding: 13px;
	font-family: inherit;
	background-color: #008000;
	color: #fff;
	border: 0;
	border-radius: 5px;
}

.tasks .task {
	padding: 5px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, .1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border-radius: .3em; */
}

.task i {
	padding: 5px;
	color: red;
	font-size: 28px;
}

.task h4 {
	margin-bottom: 10px;
}

.task.reminder {
	border-left: 3px solid green;
	/* margin-left: 5px; */
}

/* .form {
	width: 356px;
} */

.form-control {
	margin: 10px 0;
	width: 100%;
}

.form-control > input {
	width: 100%;
	padding: 8px;
	margin: 5px 0;
}

.form .submit {
	width: 100%;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 5px;
	outline: none;
	border: none;
	color: #fff;
	margin-bottom: 15px;
}

.form .submit:active {
	transform: scale(.98);
}

.form .submit:hover {
	cursor: pointer;
	outline: none;
}

.form-control-check input {
	/* display: flex;
	justify-content: space-around; */
	margin: 10px 40px;
}

.fa-times {
	color: #ff0000;
}

.d-none {
	display: none;
}

.delete{
	border: 0;
	background-color: transparent;
	cursor: pointer;
}
